section * {
    box-sizing: border-box
}

ul {
    list-style-type: none
}

.month {
    background: #035387;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 100%
}

    .month ul {
        margin: 0;
        padding: 0
    }

        .month ul li {
            color: white;
            font-size: 20px;
            letter-spacing: 3px;
            text-transform: uppercase
        }

            .month ul li p {
                color: white;
                font-size: 20px;
                font-style: italic;
                letter-spacing: 3px;
                text-align: center;
                text-transform: uppercase
            }

    .month .prev {
        float: left;
        padding-top: 20px
    }

    .month .next {
        float: right;
        padding-top: 20px
    }

.weekdays {
    background-color: #ddd;
    margin: 0;
    padding: 10px 0
}

    .weekdays li {
        color: #666;
        display: inline-block;
        text-align: center;
        width: 13.6%
    }

.days {
    background: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 10px 0
}

    .days li {
        color: #777;
        display: inline-block;
        font-size: 12px;
        list-style-type: none;
        text-align: center;
        width: 14.27%
    }

        .days li .active {
            background: #035387;
            border-radius: 5px;
            color: #87ceebad !important
        }

    .days .currentlast, .days .currentfirst, .days .current {
        background-color: #87ceebad;
        color: #035387 !important;
        padding: 5px
    }

    .days .currentfirst {
        border-top-left-radius: 5px
    }

    .days .currentlast {
        border-bottom-right-radius: 5px
    }

        .days .current:hover, .days .currentlast:hover, .days .currentfirst:hover {
            background: linear-gradient(to bottom,#87ceebad 0%,#3f7399 50%,#87ceebad 100%)
        }

    .days .currentfirstsunday {
        border-top-right-radius: 5px
    }

    .days .currentlastsunday {
        border-bottom-right-radius: 5px
    }

    .days .currentfirstmonday {
        border-top-left-radius: 5px
    }

    .days .currentlastmonday {
        border-bottom-left-radius: 5px
    }

    .days .currentsunday {
        background-color: #1f5ec67d
    }

        .days .currentsunday:hover {
            background: linear-gradient(to bottom,#1f5ec67d 0%,#3f7399 50%,#1f5ec67d 100%)
        }

    .days .currentmonday {
        background-color: #44855e7d
    }

        .days .currentmonday:hover {
            background: linear-gradient(to bottom,#95be95 0%,#3f7399 50%,#95be95 100%)
        }

    .days .padd {
        padding: 5px
    }

    .days .evento {
        background: linear-gradient(to bottom,#c8393959 0%,#fa00007a 50%,#c8393959 100%);
        border-radius: unset;
        padding: 5px
    }

        .days .evento:hover, .days .fakehover {
            background: linear-gradient(to bottom,#c8393999 0%,#fa0000e6 50%,#c8393999 100%);
            border-radius: unset;
            padding: 5px
        }

    .days li:hover {
        background: #035387;
        background: linear-gradient(to bottom,#393d3e00 0%,#657989 50%,#393d3e00 100%);
        color: black !important;
        padding: 5px !important
    }

    .days .currentrest:hover {
        background: linear-gradient(to bottom,#1f5ec67d 0%,#3f7399 50%,#1f5ec67d 100%);
        background-color: #1f5ec67d !important;
        color: black !important;
        padding: 5px !important
    }

#prev, #next {
    background-color: transparent;
    color: whitesmoke
}

.boxfilter {
    display: inline-flex;
    margin-bottom: 20px
}

input[type="radio"] {
    margin-left: 20px;
    margin-right: 5px
}

.section {
    height: auto;
    overflow: hidden;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 2s ease-out
}

    .section.collapsed {
        transform: scaleY(0);
        transition: transform 1s ease-out
    }

.fakedisplaynone {
    transform: scaleY(0)
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {
        display: inline-block !important;
        width: 13.1%
    }

    .boxfilter {
        display: unset
    }

    .month {
        margin-top: 5px
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.75%
    }

        .days li .active {
            padding: 2px
        }

    .base span {
        font: italic small-caps bold 12px Georgia,serif
    }
}

@media screen and (max-width: 375px) {
    .weekdays li, .days li {
        width: 12.75%
    }

    ul * {
        padding: unset
    }

    .base ul span {
        font-size: 12px
    }

    .base span {
        font: italic small-caps bold 8px Georgia,serif
    }
}
