
section * {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.month {
    padding: 15px 15px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #035387;
    text-align: center;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

            .month ul li p {
                text-align: center;
                font-style: italic;
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

    .month .prev {
        float: left;
        padding-top: 20px;
    }

    .month .next {
        float: right;
        padding-top: 20px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 14.27%;
        text-align: center;
        font-size: 12px;
        color: #777;
    }

        .days li .active {
            background: #035387;
            color: #cef1ff !important;
            border-radius: 5px;
        }

    .days .currentLast,
    .days .currentFirst,
    .days .current {
        padding: 5px;
        background-color: #cef1ff;
        color: #035387 !important;
    }

    .days .currentFirst {
        border-top-left-radius: 5px;
    }

    .days .currentLast {
        border-bottom-right-radius: 5px;
    }

        .days .current:hover,
        .days .currentLast:hover,
        .days .currentFirst:hover {
            background: linear-gradient(to bottom,#cef1ff 0%, #3f7399 50%,#cef1ff 100%);
        }

    .days .currentFirstSunday {
        border-top-right-radius: 5px;
    }

    .days .currentLastSunday {
        border-bottom-right-radius: 5px;
    }

    .days .currentFirstMonday {
        border-top-left-radius: 5px;
    }

    .days .currentLastMonday {
        border-bottom-left-radius: 5px;
    }

    .days .currentSunday {
        background-color: #9991f3
    }

        .days .currentSunday:hover {
            background: linear-gradient(to bottom, #9991f3 0%, #3230da 50%,#9991f3 100%);
        }

    .days .currentMonday {
        background-color: #8fcca7
    }

        .days .currentMonday:hover {
            background: linear-gradient(to bottom, #95be95 0%, #3f7399 50%,#95be95 100%);
        }

    .days .padd {
        padding: 5px;
    }

    .days .evento {
        background: linear-gradient(to bottom, #ec9d9d 0%, #a92e2e 50%,#ec9d9d 100%);
        padding: 5px;
        border-radius: unset;
    }

        .days .evento:hover,
        .days .fakehover {
            background: linear-gradient(to bottom, #f78585 0%, #fa0000 50%,#f78585 100%);
            padding: 5px;
            border-radius: unset;
        }

    .days li:hover {
        padding: 5px !important;
        background: #035387;
        color: black !important;
        background: linear-gradient(to bottom, #393d3e00 0%, #657989 50%,#393d3e00 100%);
    }

    .days .currentRest:hover {
        padding: 5px !important;
        background-color: #1f5ec67d !important;
        color: black !important;
        background: linear-gradient(to bottom,#1f5ec67d 0%, #3f7399 50%,#1f5ec67d 100%);
    }

#prev, #next {
    background-color: transparent;
    color: whitesmoke
}


.boxFilter {
    margin-bottom: 20px;
    display: inline-flex;
}


input[type="radio"] {
    margin-left: 20px;
    margin-right: 5px;
}


.section {
    overflow: hidden;
    transition: transform 2s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
}

    .section.collapsed {
        transition: transform 1s ease-out;
        transform: scaleY(0);
    }

.fakeDisplayNone {
    transform: scaleY(0);
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        display: inline-block !important;
        width: 13.1%;
    }

    .boxFilter {
        display: unset;
    }

    .month {
        margin-top: 5px
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.75%;
    }

        .days li .active {
            padding: 2px;
        }

    .base span {
        font: italic small-caps bold 12px Georgia, serif;
    }
}

@media screen and (max-width: 375px) {
    .weekdays li, .days li {
        width: 12.75%;
    }

    ul * {
        padding: unset;
    }

    .base ul span {
        font-size: 12px
    }

    .base span {
        font: italic small-caps bold 8px Georgia, serif;
    }
}
