body {
    margin: 0
}

.imagegallery {
    cursor: pointer
}

.gallery {
    overflow: hidden;
    position: relative
}

.overlay {
    background: #4e7aa7bf;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3
}

    .overlay.open {
        display: grid
    }

.overlay__inner {
    opacity: 1;
    width: 100%
}

    .overlay__inner img {
        border: 3px solid #6a6a6a;
        border-radius: 25px;
        width: 550px
    }

@media screen and (max-width: 1000px) {
    .overlay__inner img {
        width: 400px
    }
}

@media screen and (max-width: 700px) {
    .overlay__inner img {
        width: 300px
    }
}

@media screen and (max-width: 500px) {
    .overlay__inner img {
        width: 150px
    }
}

.close {
    background: none;
    background-color: rgba(128,128,128,0.70);
    border: 3px solid #6a6a6a;
    color: wheat;
    letter-spacing: 2px;
    outline: 0;
    position: absolute;
    text-transform: uppercase
}

    .close:hover {
        color: black;
        cursor: pointer
    }

.scorrir {
    background: none;
    border: 0;
    bottom: 50%;
    color: #002c63;
    height: 50px;
    letter-spacing: 2px;
    outline: 0;
    position: absolute;
    right: 5px;
    text-transform: uppercase
}

.scorril {
    background: none;
    border: 0;
    bottom: 50%;
    color: #002c63;
    height: 50px;
    left: 5px;
    letter-spacing: 2px;
    outline: 0;
    position: absolute;
    text-transform: uppercase
}
