
body {
    margin: 0;
}

.imageGallery {
    cursor: pointer;
}


.gallery {
    position: relative;
    overflow: hidden;
    height: 115px;
}




.overlay {
    position: fixed;
    background: #4e7aa7bf;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

    .overlay.open {
        display: grid;
        align-items: center;
        justify-items: center;
    }

.overlay__inner {
    width: 100%;
    opacity: 1;
}
    .overlay__inner img {
        width: 550px;
        border: 3px solid #6a6a6a;
        border-radius: 25px;
    }


@media screen and (max-width: 1000px) {
    .overlay__inner img {
        width: 400px;
    }

}

@media screen and (max-width: 700px) {
    .overlay__inner img {
        width: 300px;
    }
}
@media screen and (max-width: 500px) {
    .overlay__inner img {
        width: 150px;
    }
}
.close {
    position: absolute;
    background: none;
    outline: 0;
    color: wheat;
    background-color: rgba(128, 128, 128, 0.70);
    border: 3px solid #6a6a6a;    
    text-transform: uppercase;
    letter-spacing: 2px;
}

    .close:hover {
        color: black;
        cursor:pointer;
    }

.scorriR {
    position: absolute;
    height: 50px;
    right: 5px;
    background: none;
    outline: 0;
    color: #002c63;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    BOTTOM: 50%;
}

.scorriL {
    position: absolute;
    height: 50px;
    left: 5px;
    background: none;
    outline: 0;
    BOTTOM: 50%;
    color: #002c63;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}




