.image-map-container {
    display: inline-block;
    position: relative
}

    .image-map-container img {
        display: block
    }

    .image-map-container .map-selector {
        bottom: 0;
        color: #546E7A00;
        left: 0;
        right: 0;
        top: 0;
        transition-duration: .3s;
        transition-property: top,left,right,bottom,color;
        transition-timing-function: ease-out
    }

        .image-map-container .map-selector.hover {
            color: #546E7A80
        }

.map-selector:after {
    background: currentColor;
    background: currentColor;
    bottom: inherit;
    content: '';
    left: inherit;
    position: absolute;
    right: inherit;
    top: inherit;
    transition-duration: .3s;
    transition-property: top,left,right,bottom,background;
    transition-timing-function: ease-out
}
