#showcase ul, .Eventi {
    list-style-type: none;
    width: 100%
}

#showcase ul {
    padding: unset
}

.Eventi {
    display: flex !important
}

@media (max-width:1400px) {
    #showcase ul, .Eventi {
        list-style-type: none;
        width: 100%
    }

    .Eventi {
        display: list-item !important
    }

    #showcase ul {
        display: list-item
    }
}

@media (max-width:1000px) {
    #mapItalia {
        display: unset !important
    }

    .Eventi {
        list-style-type: none;
        width: 100%;
        display: list-item !important
    }

    #showcase img, #showcase ul {
        list-style-type: none;
        display: list-item
    }

    #showcase ul {
        width: 100% !important
    }

    #showcase img {
        float: none
    }
}

#showcaseConcat ul {
    list-style-type: none;
    width: 100%
}

#showcase h3 {
    font: 700 20px/1.5 Helvetica,Verdana,sans-serif
}

#showcase article span {
    text-align: center;
    margin-left: 105px
}

#showcase li img {
    float: left;
    margin: 0 15px 0 0;
    height: 50px
}

#showcase ul li p {
    font-size: 18px
}

#showcase ul li h3:hover {
    background: #6a9dbfc9;
    cursor: pointer
}

@media (max-width:500px) {
    #mapItalia {
        height: 300px
    }

    #showcase ul li h3 {
        font-size: 15px
    }

    #showcase h2 {
        font-size: 19px
    }

    p {
        font-size: 12px
    }
}

@media (max-width:350px) {
    #mapItalia {
        height: 200px
    }

    #showcase ul li h3 {
        font-size: 13px;
        margin-left: 45px
    }

    #showcase li img {
        height: 35px
    }

    #showcase h2 {
        font-size: 15px
    }

    p {
        font-size: 10px
    }
}
