#showcase ul {
    list-style-type: none;
    padding: unset;
    width: 100%
}

.eventi {
    display: flex !important;
    list-style-type: none;
    width: 100%
}

@media(max-width: 1400px) {
    .eventi {
        display: list-item !important;
        list-style-type: none;
        width: 100%
    }

    #showcase ul {
        display: list-item;
        list-style-type: none;
        width: 100%
    }
}

@media(max-width: 1000px) {
    #mapitalia {
        display: unset !important
    }

    .eventi {
        display: list-item !important;
        list-style-type: none;
        width: 100%
    }

    #showcase ul {
        display: list-item;
        list-style-type: none;
        width: 100% !important
    }

    #showcase img {
        display: list-item;
        float: none;
        list-style-type: none
    }
}

#showcaseconcat ul {
    list-style-type: none;
    width: 100%
}

#showcase h3 {
    font: bold 20px/1.5 Helvetica,Verdana,sans-serif
}

#showcase article span {
    margin-left: 105px;
    text-align: center
}

#showcase li img {
    float: left;
    height: 50px;
    margin: 0 15px 0 0
}

#showcase ul li p {
    font-size: 18px
}

#showcase ul li h3:hover {
    background: #6a9dbfc9;
    cursor: pointer
}

@media(max-width: 500px) {
    #mapitalia {
        height: 300px
    }

    #showcase ul li h3 {
        font-size: 15px
    }

    #showcase h2 {
        font-size: 19px
    }

    p {
        font-size: 12px
    }
}

@media(max-width: 350px) {
    #mapitalia {
        height: 200px
    }

    #showcase ul li h3 {
        font-size: 13px;
        margin-left: 45px
    }

    #showcase li img {
        height: 35px
    }

    #showcase h2 {
        font-size: 15px
    }

    p {
        font-size: 10px
    }
}
