

#showcase ul {
    list-style-type: none;
    width: 100%;
    display: flex;
}
    #showcase ul li {
        width: 50%;
        padding: 25px;
    height: 150px;
    }
@media(max-width: 1600px) {
    #showcase ul {
        list-style-type: none;
        padding:5px;
        width: 100%;
        display: list-item;
    }

        #showcase ul li {
            width: 100%;
            padding: 15px;
        }
}
@media(max-width: 1000px) {
    #showcase ul {
        list-style-type: none;
        width: 100%;
        display: list-item;
    }

        #showcase ul li {
            width: 100%;
            padding: 15px;
        }
            #showcase ul li img {
                float: unset;
                padding-top: 10px;
                margin: 0 15px 0 0;
                height: 50px;
            }

            #showcase ul li h3 {
                margin-left: 25px;
            }
}

    #showcase h3 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    }

    #showcase article span {
        text-align: center;
        margin-left: 105px;
    }



#showcase li img {
    float: left;
    padding-top: 10px;
    margin: 0 15px 0 0;
    height: 50px;
}




    #showcase ul li {
        /*    padding: 5px;
    overflow: auto;*/
    }

        #showcase ul li p {
            font: 200 18px/1.5 Georgia, Times New Roman, serif;
        }

#showcase ul li h3:hover {
    background: #eee;
    cursor: pointer;
}
