#showcase ul {
    list-style-type: none;
    padding: unset;
    width: 100%
}

    #showcase ul li {
        display: inline-table;
        padding: 5px;
        width: 48%
    }

#showcase h3 {
    font: bold 20px/1.5 Helvetica,Verdana,sans-serif
}

#showcase article span {
    margin-left: 105px;
    text-align: center
}

#showcase li img {
    float: left;
    height: 50px;
    padding-top: 25px
}

#showcase ul li h3:hover {
    background: #6a9dbfc9;
    cursor: pointer
}

@media(max-width: 1400px) {
    #showcase ul {
        width: 100%
    }

        #showcase ul li {
            padding: 5px 0;
            width: 100%
        }

            #showcase ul li img {
                height: 50px;
                padding-top: 10px
            }

            #showcase ul li h3 {
                margin-left: 65px
            }
}

@media(max-width: 500px) {
    #showcase ul li h3 {
        font-size: 10PX;
        margin-left: 35px;
        margin-right: unset
    }

    #showcase ul li div {
        margin: unset
    }

    #showcase ul li img {
        float: left;
        height: 25px;
        margin: 0 15px 0 0;
        padding-top: 15px
    }
}
