#Regione {
    color: #035387 !important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.listaProvince {
    margin-left: 25px;
    text-align: left;
}

.Provincia {
    border-radius: 5px 5px;
    background-color: #035387;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

.listaPartner {
    margin-left: 25px;
    text-align: left;
    border-bottom: 2px solid #035387;
    margin-top: 15px;
    margin-bottom: 5px;
}

    .listaPartner:last-child {
        border-bottom: none;
    }

.Partner {
    font-weight: bold;
    padding: 1px 5px 5px 5px;
}

    .Partner:first-child {
        border-bottom: none;
        padding-top: 5px;
    }
