#regione {
    color: #035387 !important;
    font-weight: bold;
    text-transform: uppercase
}

.listaprovince {
    margin-left: 25px
}

.provincia {
    background-color: #035387;
    border-radius: 5px 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase
}

.listapartner {
    border-bottom: 2px solid #035387;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: 15px
}

    .listapartner:last-child {
        border-bottom: none
    }

.partner {
    font-weight: bold;
    padding: 1px 5px 5px
}

    .partner:first-child {
        border-bottom: none;
        padding-top: 5px
    }
