body {
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background: #e9f4f9;
    background-attachment: fixed
}

ul li {
    font-size: 18px;
    padding-top: 3px
}

.PartnerLeftTran {
    background-color: transparent;
    float: left;
    width: 100%;
    min-width: 400px;
    text-align: center;
    display: block
}

    .PartnerLeftTran img {
        float: right
    }

    .PartnerLeftTran ul {
        width: 50% !important;
        float: left
    }

.baseInvisible {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: 0;
    box-shadow: none
}

    .base, .baseInvisible ul li div {
        border-radius: 5px 5px;
        padding: 15px;
        margin-right: 10px;
        margin-left: 10px;
        color: #000
    }

    .baseInvisible ul li div {
        min-height: 160px;
        background: #87ceebad;
        border: 1px solid #6a6a6a
    }

.base {
    margin-bottom: 10px
}

    .base ul span, .didascalia {
        font-size: 18px;
        font-style: italic
    }

.didascaliaTitolo {
    font-size: 25px;
    font-weight: 700
}

.base ul span {
    font-weight: 900;
    font-style: unset
}

input[type=email], input[type=tel], input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

textarea {
    height: 100px
}

input[type=button], input[type=submit] {
    height: 38px;
    background: #035387;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    border-radius: 10px 10px
}

    input[type=button]:hover {
        background-color: #2e8b57;
        color: #000;
        padding-left: 20px;
        padding-right: 20px
    }

    input[type=button]:disabled {
        background-color: #59727c
    }

footer, header {
    color: #000;
    min-height: 70px
}

header {
    background: #add8e6;
    border-bottom: #035387 3px solid;
    vertical-align: middle
}

    #showcase, header .container {
        width: 80%;
        margin: auto;
        overflow: hidden
    }

    header a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px
    }

    header ul {
        margin: 0;
        padding-left: 0;
        height: 100%;
        display: table;
        width: 100%
    }

        header ul li {
            float: left;
            padding: 0 10px;
            list-style: none;
            color: #000
        }

    header #branding {
        float: left
    }

        header #branding h1 {
            margin: 0
        }

    header nav {
        right: 50%;
        float: right;
        margin-top: 35px
    }

    header .current a, header .highlight {
        color: #035387;
        font-weight: 700
    }

    header a:hover {
        color: #75827a
    }

section {
    min-height: 400px;
    padding-bottom: 60PX
}

#showcase {
    min-height: 400px;
    color: #000
}

    #showcase h1, #showcase h2 {
        padding: unset;
        color: #035387
    }

    #showcase h1 {
        font-size: 75px;
        margin: auto;
        padding-top: 15px;
        text-shadow: 1px 1px 0 #000
    }

.h1Homepage {
    text-align: center
}

#showcase h2 {
    font-size: 35px;
    margin-bottom: 20PX;
    margin-top: 0
}

#showcase h3, #showcase ul li h3 {
    color: #000;
    font-size: 25px;
    margin-bottom: 6px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0 0 4px 6px;
    border-left: 7px solid #035387;
    border-bottom: 1px solid #035387;
    text-align: center;
    background-color: #f5fffa73;
    box-shadow: 5px 5px 10px 0 #000
}

#showcase ul li h3 {
    margin-left: 75px
}

#showcase p {
    font-size: 20px
}

aside#sidebar {
    float: right;
    min-height: 400px;
    width: 30%
}

    aside#sidebar .quote input, aside#sidebar .quote textarea {
        width: 90%;
        padding: 5px
    }

#main-col {
    float: left;
    width: 60%;
    padding: unset;
    margin: unset
}

footer {
    bottom: 0;
    border-top: 1px solid #035387;
    background-color: #add8e6;
    width: 100%;
    position: fixed
}

    footer .copyright {
        padding-left: 15px;
        float: left
    }

    footer .circolo {
        padding-right: 15px;
        float: right
    }

select {
    font: 400 12px/1.3 sans-serif;
    color: #000;
    width: 120px;
    border: 1px solid #696969;
    line-height: 1;
    outline: 0;
    padding: .65em 2.5em .55em .75em;
    border-radius: var(--radius);
    background-color: #87ceeb69;
    background-image: linear-gradient(#696969,#696969),linear-gradient(-135deg,transparent 50%,#ccc 50%),linear-gradient(-225deg,transparent 50%,#ccc 50%),linear-gradient(#ccc 42%,#82898d 42%);
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-size: 1px 100%,20px 22px,20px 22px,20px 100%;
    background-position: right 20px center,right bottom,right bottom,right bottom
}

    select:hover {
        background-image: linear-gradient(#82898d,#82898d),linear-gradient(-135deg,transparent 50%,#82898d 50%),linear-gradient(-225deg,transparent 50%,#82898d 50%),linear-gradient(#82898d 42%,#ccc 42%)
    }

#linksLf select {
    width: unset
}

select:active {
    border-color: #87ceeb69
}

.fill {
    display: flex;
    overflow: hidden;
    padding-top: 5px
}

    .fill img {
        border: 2px solid #696969
    }

@media (max-width:1800px) {
    .fill img {
        height: 360px
    }
}

@media (max-width:1600px) {
    .baseInvisible ul li div {
        padding: 0 15px
    }
}

@media (max-width:1450px) {
    #showcase h1 {
        font-size: 55px
    }

    footer {
        position: relative
    }

    #boxes .box, #newsletter form, #newsletter h1, article#main-col, aside#sidebar, aside#sidebarNoMargin, aside.base, div#main-col, header #branding, header nav, header nav li {
        float: none;
        width: 100%;
        padding: unset;
        margin: unset
    }

    header {
        padding-bottom: 20px
    }

    #showcase h1 {
        margin-top: 40px
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%
    }

    section {
        padding-bottom: 100PX
    }

    .PartnerLeftTran {
        background-color: transparent;
        float: left;
        width: 100%;
        min-width: unset
    }
}

@media (max-width:800px) {
    .fill img {
        height: 250px
    }

    select {
        width: 100px
    }

    #showcase li, #showcase p {
        font-size: 17px
    }

    input[type=number i], select {
        width: 75px
    }
}

@media (max-width:600px) {
    .fill img {
        height: 225px
    }

    input[type=number i], select {
        width: 75px
    }

    #showcase li, #showcase p {
        font-size: 15px
    }

    .baseInvisible ul li div {
        min-height: 100px
    }
}

@media (max-width:500px) {
    #showcase h1 {
        font-size: 35px
    }

    #showcase h2, .didascaliaTitolo {
        font-size: 19px
    }

    p {
        font-size: 12px
    }
}

@media (max-width:400px) {
    #showcase h1 {
        font-size: 25px
    }

    #showcase h2, .didascaliaTitolo {
        font-size: 16px
    }

    #showcase li, #showcase p {
        font-size: 11px
    }

    input[type=number i], select {
        width: 50px
    }
}

@media (max-width:350px) {
    #showcase p {
        font-size: 9px
    }

    input[type=number i], select {
        width: 35px
    }
}

.fillheigth {
    display: flex;
    overflow: hidden
}

    .fillheigth img {
        flex-shrink: 0;
        height: 400px;
        border: 2px solid #696969
    }

.required {
    color: red;
    position: absolute
}

.borderLine {
    border-bottom: #035387 1px solid;
    margin-bottom: 15px;
    margin-top: 5px
}

.floatRight {
    float: right
}

.grab {
    cursor: grab
}

.no-drop {
    cursor: no-drop
}
