/*modifico la select option*/

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #e9f4f9;
    background-attachment: fixed;
}

ul li {
    font-size: 18px;
    padding-top: 3px;
}




.baseInvisible {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

    .baseInvisible ul li div {
        border-radius: 5px 5px;
        padding: 15px;
        min-height: 160px;
        background: #87ceebad;
        margin-right: 10px;
        margin-left: 10px;
        color: black;
        border: 1px solid #6a6a6a;
    }

.base {
    border-radius: 5px 5px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    margin-bottom: 10px;
}


.didascalia {
    font-size: 18px;
    font-style: italic;
}

.didascaliaTitolo {
    font-size: 25px;
    font-weight: bold;
}

.base ul span {
    font-weight: 900;
    font-size: 18px;
    font-style: unset;
}


textarea,
input[type=text],
input[type='email'],
input[type='tel'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='number'], select {
    margin-left: 5px;
}

input[type='number'] {
    width: 30px;
}

textarea {
    height: 100px;
}

input[type='button'],
input[type='submit'] {
    height: 38px;
    background: #035387;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border-radius: 10px 10px;
}

    input[type='button']:hover {
        background-color: seagreen;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }

    input[type='button']:disabled {
        background-color: #59727c;
    }
/* Header **/
header {
    background: lightblue;
    color: black;
    min-height: 70px;
    border-bottom: #035387 3px solid;
    vertical-align: middle;
}

    header .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }


    header a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header ul {
        margin: 0;
        padding-left: 0px;
        height: 100%;
        display: table;
        width: 100%;
    }

        header ul li {
            float: left;
            padding: 0 10px 0 10px;
            list-style: none;
            color: black;
        }

    header #branding {
        float: left;
    }

        header #branding h1 {
            margin: 0;
        }

    header nav {
        right: 50%;
        float: right;
        margin-top: 35px;
    }

    header .highlight, header .current a {
        color: #035387;
        font-weight: bold;
    }

    header a:hover {
        color: #75827a;
    }

section {
    min-height: 400px;
    padding-bottom: 60PX;
}

/* Showcase */
#showcase {
    width: 80%;
    margin: auto;
    overflow: hidden;
    min-height: 400px;
    color: black;
}

    #showcase h1 {
        font-size: 75px;
        padding: unset;
        color: #035387;
        margin: auto;
        padding-top: 15px;
        text-shadow: 1px 1px 0px #000000;
    }

.h1Homepage {
    text-align: center;
}

#showcase h2 {
    font-size: 35px;
    padding: unset;
    color: #035387;
    margin-bottom: 20PX;
    margin-top: 0px;
}



#showcase h3 {
    /* margin-top: 100px; */
    color: black;
    font-size: 25px;
    margin-bottom: 6px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0 0 4px 6px;
    border-left: 7px solid #035387;
    border-bottom: 1px solid #035387;
    text-align: center;
    background-color: #f5fffa73;
    box-shadow: 5px 5px 10px 0px #000000;
}

#showcase ul li h3 {
    /* margin-top: 100px; */
    color: black;
    font-size: 25px;
    margin-bottom: 6px;
    margin-left: 75px;
    margin-right: 25px;
    padding: 0 0 4px 6px;
    border-left: 7px solid #035387;
    border-bottom: 1px solid #035387;
    text-align: center;
    background-color: #f5fffa73;
    box-shadow: 5px 5px 10px 0px #000000;
}



/* Sidebar */
aside#sidebar {
    float: right;
    min-height: 400px;
    width: 30%;
}


    aside#sidebar .quote input, aside#sidebar .quote textarea {
        width: 90%;
        padding: 5px;
    }


#main-col {
    float: left;
    width: 60%;
    padding: unset;
    margin: unset;
}


footer {
    bottom: 0px;
    color: black;
    border-top: 1px solid #035387;
    background-color: lightblue;
    width: 100%;
    min-height: 70px;
    position: fixed;
}

    footer .copyright {
        padding-left: 15px;
        float: left;
    }

    footer .circolo {
        padding-right: 15px;
        float: right;
    }

select {
    font: 400 12px/1.3 sans-serif;
    color: #000000;
    width: 80px;
    border: 1px solid dimgray;
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: #87ceeb69;
    background-image: linear-gradient(dimgray, dimgray), linear-gradient(-135deg, transparent 50%, #cccccc 50%), linear-gradient(-225deg, transparent 50%, #cccccc 50%), linear-gradient(#cccccc 42%, #82898d 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

    select:hover {
        background-image: linear-gradient(#82898d, #82898d), linear-gradient(-135deg, transparent 50%, #82898d 50%), linear-gradient(-225deg, transparent 50%, #82898d 50%), linear-gradient(#82898d 42%, #cccccc 42%);
    }

#linksLf select {
    width: unset;
}

select:active {
    border-color: #87ceeb69;
}




.fill {
    display: flex;
    overflow: hidden;
    padding-top: 5px
}

    .fill img {
        border: 2px solid dimgray;
    }


@media(max-width: 1800px) {
    .fill img {
        height: 360px
    }
}
/* Media Queries serve per adattare lo scenario mostrato a schermi più piccoli di 768 px*/
@media(max-width: 1600px) {
    .baseInvisible ul li div {
        padding: 0px 15px 0px 15px;
    }
}
/* Media Queries serve per adattare lo scenario mostrato a schermi più piccoli di 768 px*/
@media(max-width: 1450px) {

    * {
        font-size: 18px
    }

    #showcase h1 {
        font-size: 55px;
    }

    aside#sidebarNoMargin,
    aside.base,
    div#main-col {
        float: left;
        width: 100%;
    }

    footer {
        position: relative;
    }

    aside#sidebarNoMargin,
    aside.base,
    div#main-col,
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    aside.base,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    aside#sidebarNoMargin {
        float: none;
        width: 100%;
        padding: unset;
        margin: unset;
    }


    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    section {
        padding-bottom: 100PX;
    }

    footer {
        position: relative;
    }


    
}

@media(max-width: 800px) {
    .fill img {
        height: 250px
    }


    * {
        font-size: 17px
    }

    select {
        width: 75px
    }
}


@media(max-width: 600px) {
    .fill img {
        height: 225px
    }

    select {
        width: 75px
    }

    * {
        font-size: 15px
    }

    .baseInvisible ul li div {
        min-height: 100px;
    }

}

@media(max-width: 500px) {

    #showcase h1 {
        font-size: 35px;
    }


    .didascaliaTitolo,
    #showcase h2 {
        font-size: 19px;
    }

    * {
        font-size: 12px;
    }
}

@media(max-width: 400px) {

    #showcase h1 {
        font-size: 25px;
    }

    .didascaliaTitolo,
    #showcase h2 {
        font-size: 16px;
    }

    * {
        font-size: 11px
    }

    select {
        width: 50px
    }
    .fill img {
        height: 150PX
    }
}


@media(max-width: 350px) {



    #showcase p {
        font-size: 9px
    }

    #showcase li {
        font-size: 7px
    }

    select {
        width: 35px
    }
}

.fillheigth {
    display: flex;
    overflow: hidden
}

    .fillheigth img {
        flex-shrink: 0;
        height: 400px;
        border: 2px solid dimgray;
    }


.required {
    color: #ff0000;
    position: absolute;
}

.borderLine {
    border-bottom: #035387 1px solid;
    margin-bottom: 15px;
    margin-top: 5px;
}

.floatRight {
    float: right;
}


.grab {
    cursor: grab;
}

.no-drop {
    cursor: no-drop;
}
