/*modifico la select option*/
:root {
    --baseFg: dimgray;
    --baseBg: black;
    --constFg: #82898d;
    --constBg: #cccccc;
    --constBh: #87ceeb69;
    --constcolor: black;
    --constScritta: #000000;
    --constBorder: #035387;
    --constbgSfum: linear-gradient(to bottom,#3e5d6f 0%,#3f7399 50%, #3e5d6f 100%)
}


body {
    font: 15px/1.1 Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #d5f2ff;
    background-attachment: fixed;
}
/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.PartnerLeftTran {
    background-color: transparent;
    float: left;
    width: 30%;
    min-width: 400px;
}


.baseInvisible {
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .baseInvisible ul li div {
        border-radius: 5px 5px;
        padding: 15px;
        min-height: 160px;
        background: #87ceebad;
        margin-right: 10px;
        margin-left: 10px;
        color: var(--baseBg);
        border: 1px solid #6a6a6a;
        -moz-box-shadow: 5px 5px 10px 0px #000000;
    }

.base {
    border-radius: 5px 5px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--baseBg);
    margin-bottom: 10px;
}

.containerhomeHome {
}

.base p {
    text-align: left;
}

.base span {
    font-weight: 900;
    font: italic small-caps bold 22px Georgia, serif;
}


textarea,
input[type=text],
input[type='email'],
input[type='tel'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='button'],
input[type='submit'] {
    height: 38px;
    background: var(--constBorder);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--baseBg);
    border-radius: 10px 10px;
}

    input[type='button']:hover {
        background-color: seagreen;
        color: var(--baseBg);
        padding-left: 20px;
        padding-right: 20px;
    }

    input[type='button']:disabled {
        background-color: #59727c;
    }
/* Header **/
header {
    background: lightblue;
    color: var(--baseBg);
    min-height: 70px;
    border-bottom: var(--constBorder) 3px solid;
    vertical-align: middle;
}

    header .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }


    header a {
        color: var(--baseBg);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header ul {
        margin: 0;
        padding-left: 0px;
        height: 100%;
        display: table;
        width: 100%;
    }

        header ul li {
            float: left;
            padding: 0 10px 0 10px;
            list-style: none;
            color: var(--constcolor);
        }

    header #branding {
        float: left;
    }

        header #branding h1 {
            margin: 0;
        }

    header nav {
        right: 50%;
        float: right;
        margin-top: 35px;
    }

    header .highlight, header .current a {
        color: var(--constBorder);
        font-weight: bold;
    }

    header a:hover {
        color: #75827a;
    }

section {
    min-height: 400px;
    padding-bottom: 60PX;
}

/* Showcase */
#showcase {
    min-height: 400px;
    text-align: center;
    color: var(--baseBg);
}

    #showcase h2 {
        margin-top: 10px;
        color: var(--constcolor);
        font-size: 35px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0 0 6px 10px;
        border-left: 10px solid #035387;
        border-bottom: 2px solid #035387;
        text-align: left;
        background-color: #f5fffa73;
        /*https://toolset.mrw.it/css/css3-box-shadow.html*/
        -webkit-box-shadow: 5px 5px 10px 0px #000000;
        -moz-box-shadow: 5px 5px 10px 0px #000000;
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #showcase h3 {
        /* margin-top: 100px; */
        color: var(--constcolor);
        font-size: 25px;
        margin-bottom: 6px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 0 0 4px 6px;
        border-left: 7px solid #035387;
        border-bottom: 1px solid #035387;
        text-align: center;
        background-color: #f5fffa73;
        /*https://toolset.mrw.it/css/css3-box-shadow.html*/
        -webkit-box-shadow: 5px 5px 10px 0px #000000;
        -moz-box-shadow: 5px 5px 10px 0px #000000;
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #showcase ul li h3 {
        /* margin-top: 100px; */
        color: var(--constcolor);
        font-size: 25px;
        margin-bottom: 6px;
        margin-left: 75px;
        margin-right: 25px;
        padding: 0 0 4px 6px;
        border-left: 7px solid #035387;
        border-bottom: 1px solid #035387;
        text-align: center;
        background-color: #f5fffa73;
        /*https://toolset.mrw.it/css/css3-box-shadow.html*/
        -webkit-box-shadow: 5px 5px 10px 0px #000000;
        -moz-box-shadow: 5px 5px 10px 0px #000000;
        box-shadow: 5px 5px 10px 0px #000000;
    }

    #showcase p {
        font-size: 20px;
    }


/* Sidebar */
aside#sidebar {
    float: right;
    min-height: 400px;
    width: 30%;
}


    aside#sidebar .quote input, aside#sidebar .quote textarea {
        width: 90%;
        padding: 5px;
    }

article#main-col {
    float: left;
    width: 65%;
}

div#main-col {
    float: left;
    width: 65%;
}


footer {
    bottom: 0px;
    color: var(--baseBg);
    border-top: 1px solid var(--constBorder);
    background-color: lightblue;
    width: 100%;
    min-height: 70px;
    position: fixed;
}

    footer .copyright {
        padding-left: 15px;
        float: left;
    }

    footer .circolo {
        padding-right: 15px;
        float: right;
    }

/* Media Queries serve per adattare lo scenario mostrato a schermi più piccoli di 768 px*/
@media(max-width: 1600px) {
    .baseInvisible ul li div {
        padding: 0px 15px 0px 15px;
    }
}
/* Media Queries serve per adattare lo scenario mostrato a schermi più piccoli di 768 px*/
@media(max-width: 1450px) {

    aside#sidebarNoMargin,
    aside.base,
    div#main-col {
        float: left;
        text-align: center;
        width: 100%;
    }

    footer {
        position: relative;
    }

    aside#sidebarNoMargin,
    aside.base,
    div#main-col,
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    aside.base,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    aside#sidebarNoMargin {
        float: none;
        text-align: center;
        width: 100%;
    }


    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    section {
        padding-bottom: 100PX;
    }

    footer {
        position: relative;
    }


    .PartnerLeftTran {
        background-color: transparent;
        float: left;
        width: 100%;
        min-width:unset;
    }
}

@media(max-width: 500px) {
    #showcase ul li {
        display: unset;
    }

    h3 {
        font: 200 15px/1.5 Georgia, Times New Roman, serif !important;
        margin-right: unset;
    }

    #showcase h2 {
        font: 200 19px/1.5 Georgia, Times New Roman, serif !important;
    }

    p {
        font: 200 12px/1.5 Georgia, Times New Roman, serif !important;
    }

    }
@media(max-width: 350px) {
    #showcase ul li {
        display: unset;
    }

    h3 {
        font: 200 13px/1.5 Georgia, Times New Roman, serif !important;
        margin-right: unset;
    }

    #showcase h2 {
        font: 200 15px/1.5 Georgia, Times New Roman, serif !important;
    }

    p {
        font: 200 10px/1.5 Georgia, Times New Roman, serif !important;
    }
}

select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    color: var(--constScritta);
    width: 120px;
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--constBh);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)), linear-gradient(-135deg, transparent 50%, var(--constBg) 50%), linear-gradient(-225deg, transparent 50%, var(--constBg) 50%), linear-gradient(var(--constBg) 42%, var(--constFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

    select:hover {
        background-image: linear-gradient(var(--constFg), var(--constFg)), linear-gradient(-135deg, transparent 50%, var(--constFg) 50%), linear-gradient(-225deg, transparent 50%, var(--constFg) 50%), linear-gradient(var(--constFg) 42%, var(--constBg) 42%);
    }

#linksLf select {
    width: unset;
}

select:active {
    border-color: var(--constBh);
}




.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .fill img {
        border: 2px solid var(--baseFg);
    }
@media(max-width: 1800px) {
    .fill img {
        height: 360px
    }
}
@media(max-width: 800px) {
    .fill img {
        height: 250px
    }
}
@media(max-width: 600px) {
    .fill img {
        height: 225px
    }
}
.fillheigth {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .fillheigth img {
        flex-shrink: 0;
        height: 400px;
        border: 2px solid var(--baseFg);
    }


.required {
    color: #ff0000;
    font: italic small-caps bold 10px Georgia, serif !important;
}

.borderLine {
    border-bottom: #035387 1px solid;
    margin-bottom: 15px;
    margin-top: 5px;
}
