table.tabellaprodotti {
    background: #87ceeb69;
    border: 1px solid #6a6a6a;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 10px 0 #000000;
    margin-bottom: 10px;
    text-align: center;
    width: 100%
}

    table.tabellaprodotti td, table.tabellaprodotti th {
        padding: 3px 0
    }

    table.tabellaprodotti tbody td {
        border: 1px solid #6a6a6a
    }

    table.tabellaprodotti tbody tr {
        display: inline-table
    }

    table.tabellaprodotti tbody img {
        border-radius: 20%
    }

    table.tabellaprodotti thead {
        background: #87ceeb69;
        background: linear-gradient(to bottom,#035387 0%,#3f7399 50%,#87ceeb69 100%);
        color: black;
        font-size: 14px;
        font-weight: bold
    }

        table.tabellaprodotti thead tr {
            display: inline-table;
            width: inherit
        }

        table.tabellaprodotti thead th {
            border: none;
            color: black;
            float: left;
            font-weight: bold;
            padding: 15px 0
        }

#noscrolltab thead th:not(:first-child), #noscrolltab tbody td:not(:first-child) {
    text-align: left
}

#noscrolltab thead th:first-child div {
    margin-left: 8px;
    text-align: left;
    width: 150px
}

#noscrolltab thead th:last-child div {
    padding-right: 8px;
    text-align: right
}

#noscrolltab tbody td:last-child {
    padding-right: 8px;
    text-align: right
}

table.tabellaprodotti thead th:first-child {
    border-left: none
}

table.tabellaprodotti tfoot {
    background: #87ceeb69;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 5px
}

    table.tabellaprodotti tfoot td {
        font-size: 14px
    }

    table.tabellaprodotti tfoot tr {
        display: flex
    }

table.tabellaprodotti tbody ul {
    list-style: none;
    margin-bottom: 5px;
    padding: 20px;
    text-align: left
}

table.tabellaprodotti tbody h4 {
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold
}

table.tabellaprodotti tbody p {
    font-size: 10px;
    text-align: center
}

table.tabellaprodotti tbody ul li {
    font-size: 13px;
    padding: 5px
}

    table.tabellaprodotti tbody ul li:not(:last-child) {
        border-bottom: #929292 solid 1px
    }

table.tabellaprodotti tfoot #links {
    float: right;
    margin: 5px;
    text-align: right
}

    table.tabellaprodotti tfoot #links input {
        background: linear-gradient(to bottom,#3e5d6f 0%,#3f7399 50%,#3e5d6f 100%);
        border-radius: 5px;
        color: black;
        display: inline-block;
        height: auto;
        margin: 1px;
        padding: 2px 8px
    }

        table.tabellaprodotti tfoot #links input:hover {
            background-color: #46000D;
            color: black
        }

table.tabellaprodotti tfoot #linkslf {
    float: left;
    text-align: right
}

    table.tabellaprodotti tfoot #linkslf div {
        background: linear-gradient(to bottom,#3e5d6f 0%,#3f7399 50%,#3e5d6f 100%);
        border-radius: 5px;
        color: black;
        margin: 5px;
        padding: 2px 6px
    }

ul.prodotti li {
    background: #e6e6e6;
    border: #cccccc solid 1px;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px
}

.colw8 {
    width: 80%
}

.colw6 {
    width: 60%
}

.colw4 {
    width: 40%
}

.colw2 {
    width: 20%
}

.colw27 {
    width: 26%
}

.colw13 {
    width: 13%
}

table.tabellapreventivo {
    border-collapse: collapse;
    text-align: left;
    width: 100%
}

table.tabellaprodotti th {
    font-weight: bold;
    margin-top: 6px;
    padding: 15px
}

table.tabellaprodotti thead, table.tabellaprodotti tbody {
    float: initial;
    width: 100%
}

#noscrolltab {
    max-width: 600px
}

#scrolltab tbody {
    max-height: 400px;
    overflow: auto
}

#noscrolltab tbody {
    overflow: auto
}

.my-custom-scrollbar {
    overflow: auto;
    position: unset
}

.table-wrapper-scroll-y {
    display: inline-grid
}

.faketd {
    border-bottom: 1px solid #035387;
    padding-top: 5px
}

.alignlefth {
    text-align: left
}

.alignright {
    text-align: right
}

.nomargin {
    border: unset !important;
    margin-left: 5px;
    margin-right: 5px
}

@media(max-width: 1400px) {
    #scrolltab {
        float: none;
        text-align: center;
        width: 100%
    }

    .floatright {
        float: unset
    }
}

@media(max-width: 1500px) {
    #scrolltab *, #noscrolltab * {
        font-size: 12px
    }

    table.tabellaprodotti tbody img {
        width: 100px
    }

    table.tabellaprodotti tfoot #links input {
        height: 20px;
        width: 25px
    }
}

@media(max-width: 1000px) {
    #scrolltab *, #noscrolltab * {
        font-size: 11px
    }
}

@media(max-width: 800px) {
    table.tabellaprodotti tbody img {
        width: 90px
    }
}

@media(max-width: 600px) {
    #scrolltab *, #noscrolltab * {
        font-size: 10px
    }

    table.tabellaprodotti tbody img {
        width: 75px
    }

    table.tabellaprodotti tfoot #links input {
        height: 12px;
        width: 15px
    }
}

@media(max-width: 500px) {
    #scrolltab *, #noscrolltab * {
        font-size: 9px
    }

    #showcase ul li {
        display: list-item
    }

    table.tabellaprodotti tbody img {
        width: 50px
    }

    table.tabellaprodotti tfoot #links input {
        height: 10px;
        padding: unset;
        width: 12px
    }
}

@media(max-width: 400px) {
    #scrolltab *, #noscrolltab * {
        font-size: 7px;
        padding: unset
    }

    table.tabellaprodotti tbody img {
        width: 35px
    }
}

@media(max-width: 300px) {
    #scrolltab *, #noscrolltab * {
        font-size: 5px
    }

    table.tabellaprodotti tfoot #links input {
        height: 8px;
        width: 10px
    }
}
